.wrapper{
    margin-top: calc(6.9rem - 3vw);
}

.services{
    /* color: #01707a; */
    color: #027d88;
    box-shadow:  0px 2px 5px 1px #61a1a757;
    z-index: 2;
}

.servicesicon{
    font-size: calc(1.7rem + .3vw);
    margin: 0;
}
.servicespara{
    font-size: calc(.6rem + .4vw);
}
.serviceitem{
    cursor: pointer;
    transition: all .25s;
}

.serviceitem:hover{
    color: #03919e;
    transform: scale(1.05);
}